In [ ]:
i = 1
#result = 1
while(i<=100):
      #result = result *i
      if i ==42:
         print('Magic number reached 42, stop execution')
         break
      i = i+1

Magic number reached 42, stop execution

In [ ]:
i = 1
result = 1
while i<=10:
  i = i+1
  if i % 2 ==0:
    print('divisible by {}'.format(i))
    continue
  print('inside if, after continue')
  print('Not divisible {}'.format(i))
  result = result*i

print('i:',i)
print('result:',result)

divisible by 2
inside if, after continue
Not divisible 3
divisible by 4
inside if, after continue
Not divisible 5
divisible by 6
inside if, after continue
Not divisible 7
divisible by 8
inside if, after continue
Not divisible 9
divisible by 10
inside if, after continue
Not divisible 11
i: 11
result: 10395

In [ ]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
for day in days:
  print(day)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [ ]:
#for value in sequence:
 # statement()

In [ ]:
# looping over a string
for char in 'Monday':
  print(char)

M
o
n
d
a
y

In [ ]:
#looping over a tuple
cars = ('toyota', 'BMW', 'Honda')
for vehicle in cars:
  print("machines:",vehicle)

machines: toyota
machines: BMW
machines: Honda

In [ ]:
#looping over a dictionary
pallets = {
           'length': '1.0m',
           'width': '0.6m',
           'height': '1.2m',
           'heavy': False
}
for dims in pallets:
    print(dims, pallets[dims])

length 1.0m
width 0.6m
height 1.2m
heavy False

In [ ]:
pallets = {
           'length': '1.0m',
           'width': '0.6m',
           'height': '1.2m',
           'heavy': False
}
for value in pallets.values():
    print(value)

1.0m
0.6m
1.2m
False

In [ ]:
for dim_value_pair in pallets.items():
    print(dim_value_pair)

('length', '1.0m')
('width', '0.6m')
('height', '1.2m')
('heavy', False)

In [ ]:
for dim, value in pallets.items():
    print('dim:',dim,'value:',value)

dim: length value: 1.0m
dim: width value: 0.6m
dim: height value: 1.2m
dim: heavy value: False

### Iterating using `range` and `enumerate`

The `range` function is used to create a sequence of numbers that can be iterated over using a `for` loop. It can be used in 3 ways:

* `range(n)` - Creates a sequence of numbers from `0` to `n-1`
* `range(a, b)` - Creates a sequence of numbers from `a` to `b-1`
* `range(a, b, step)` - Creates a sequence of numbers from `a` to `b-1` with increments of `step`

In [ ]:
for i in range(7):
    print (i)

0
1
2
3
4
5
6

In [ ]:
for i in range(3,12):
    print(i)

3
4
5
6
7
8
9
10
11

In [ ]:
for i in range (3,12,2):
    print (i)

3
5
7
9
11

In [ ]:
vehicles_list = ['Toyota', 'Honda', 'BMW', 'Volkswagon', 'Mazda', 'Ford', 'Porshe']
for i in range(len(vehicles_list)):
    print('the value of {} is {}'.format(i,vehicles_list[i]))

the value of 0 is Toyota
the value of 1 is Honda
the value of 2 is BMW
the value of 3 is Volkswagon
the value of 4 is Mazda
the value of 5 is Ford
the value of 6 is Porshe

In [ ]:
for i, val in enumerate(vehicles_list):
    print('the value in {} is {}'.format(i,val))

the value in 0 is Toyota
the value in 1 is Honda
the value in 2 is BMW
the value in 3 is Volkswagon
the value in 4 is Mazda
the value in 5 is Ford
the value in 6 is Porshe

In [ ]:
weekday = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for day in weekday:
    print('today is {}'. format(day))

today is Monday
today is Tuesday
today is Wednesday
today is Thursday
today is Friday

In [ ]:
weekday = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for day in weekday:
    print('today is {}'.format(day))
    if (day =='Thursday'):
        print('Work from home')
        break

today is Monday
today is Tuesday
today is Wednesday
today is Thursday
Work from home

In [ ]:
weekday = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for day in weekday:
    print('today is {}'. format(day))
    if(day == 'Thursday'):
       print('work from home')
       continue
    #print('today is {}'.format(day))

today is Monday
today is Tuesday
today is Wednesday
today is Thursday
work from home
today is Friday

In [ ]:
pets = [{'name': 'cooper', 'age': '10'}, {'name': 'pon', 'age': '14'}]
for dog in pets:
    for key in dog:
        print(key, dog[key])

name cooper
age 10
name pon
age 14